body{
    background-color: blanchedalmond;
}
.latte{
    right: 1000px;
    position: absolute;
    top: 80px;
    
}
.cappucino{
     left: 1000px;
     top: 80px;
    position: absolute;
    
}
.mocha{
     left: 300px;
     top: 80px;
    position: absolute;
    
}
.chocolatepastry{
     right: 70%;
     top: 20%;
    position: absolute;
}
.hac{
     top: 80px;
     right: 500px;
    position: absolute;
    width: 20px;
    length: 20px;
    
}
