body{
    background-color: blanchedalmond;
}
.latte{
    right: 40%;
    position: absolute;
    top: 10%;
    
}
.cappucino{
     left: 20%;
     top: 10%;
    position: absolute;
    
}
.mocha{
     left: 80%;
     top: 10%;
    position: absolute;
    
}
.chocolatepastry{
     right: 70%;
     top: 20%;
    position: absolute;
}
.hac{
     top: 10%;
     right: 35%;
    position: absolute;
    width: 20px;
    length: 20px;
    
}
